.textplace{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 302px;
    gap: 16px;
}
.textplace{
    width: 278px;
}
.text{
    font-size: 22px;
    font-weight: 600;
    color: #FFFF;

    margin-bottom: 0px;
}
.text2{
    color: #8BACD9;
    font-size: 18px;
    font-weight: 300;
    margin-top: 0px;  
}
.text:hover{
    color: #00FFF8;
}
@media (min-width:376px){
    .textplace{
        width: 302px;
    }
}